html,
body {
    color: black;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 23px;
    text-rendering: optimizeLegibility;
    overflow-y: hidden;
    overflow-x: hidden;
}

html {
  background-image: url(../img/weather.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.container {
  width: 70%;
  margin: auto;
}

.row {
  text-align: center;
  margin: auto;
  width: 100%;
}

.weather-content *{
  margin-bottom: 3%;
}

.city-input, .country-code-input {
  margin-bottom: 3%;
}

.city-input {
  margin-top: 3%;
}

input {
  text-align: center;
}

button {
  background-color: rgb(8, 115, 151); /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}