# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/todo-app-react/node_modules
/todo-app-react/*.gitignore
# /todo-app-react/public
# /todo-app-react/src

/todo-app-react/*.json
/todo-app-react/*.md