html, body {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

html {
  background-image: url(../img/landscape2-min.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.container {
  text-align: center;
  margin: auto;
  width: 70%;
}

.items-container {
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between
}

#celsius, #kelvin, #fahrenheit {
  margin-top: 5px;
  font-size: 20px;
  -webkit-text-fill-color: black;
  text-align: center;
  height: 30px;
  width: 200px;
  border: 1px solid #555;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}