html {
  background-image: url(../img/laugh2-min.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

body {
  text-align: center;
  color: white;
}

#joke-button {
  color: white;
  margin-bottom: 5%;
  margin-top: 1%;
}

.container {
  margin-top: 3%;
}